@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&family=Graduate&display=swap');

#root{
    background-color: #2b2b2b;
}
html{
    background-color: #2b2b2b;
}

.container{
    padding: 0;
    margin: 0 !important;
    background-color: #2b2b2b;
}

.content-container{
    background-color: #2b2b2b;
}

